* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: aqua;
}

.app {
  margin: 0;
  padding: 10px;
}

.main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.heading{
  text-align: center;
  font-family:fantasy;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

button{
  box-shadow: 4px 4px 4px #988a8a;
}
button:active{
  box-shadow: 2px 2px 4px 2px #aaa;
}

h3{
  text-align: center;
  font-family:fantasy;
}
.search-form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.search-form input,
.search-form button {
  width: 280px;
}

.search-form input,
.search-form button {
  padding: 10px;
  border-radius: 4px;
}

.search-form input {
  border: 1px solid grey;
  outline: none;
}

.search-form button {
  margin-left: 10px;
  background-color: chartreuse;
  border: 1px solid chartreuse;
  cursor: pointer;
}
